body{
    font-family: 'open sans';
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("./images/rain3.jpeg");
    color:white;
}


.rightContainerHeader{
    font-weight: bold;
    font-family: 'open sans';
}
.weatherDetailsContainer{
    display: flex;
    flex-direction: column;
}

.s_location_time:hover{
    cursor: pointer;
    color: rgb(255, 255, 255, 0.5);
}
.timeStamp{
    font-size: 12px;
}
.appContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    height: auto;
    width: 100%;
}
h1{
    font-size: 20px;
    padding:40px;
    font-weight: light;
}
.weatherDisplayContainer{
    display: flex;
    padding: 40px;
    align-items: center;
}
.innerDisplayContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-check{
    margin: 20px;
}

.rightInnerDisplayContent{
    display: flex;
    flex-direction: column;
}
.weatherTextBottomContainer{
    display: flex;
    align-items: center;
}
.weatherTextBottom{
    display: flex;  
}
.rightContainer{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.5);
    flex-grow: 0.1;
    align-self: flex-end;
    justify-content: end;
    max-width: 600px;

}
.rightContent{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.searchContainer{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;

}
.weatherTextBottomContainer{
    display: flex;
}

.saveBtn{
    margin: 20px;
}
.savedItem{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.savedItem p {
    margin: 0px;
}
.savedContainer
{
    height: inherit;
    padding: 20px;
}
.savedItemsContainer{
    height: 150px;
    overflow:scroll;
    overflow-x: hidden;
}

.detailsContainer{
    margin: 0px;
    padding: 20px;
}
.weatherItem{
    display: flex;
    justify-content: space-between;
}

.w-item{
    display: flex;

}
#symbol{
    align-self: flex-start;
    font-size: 10px;
}

.rightWeatherDisplayContainer{
    display: flex;
    padding: 40px;
    align-items: center;
    flex-direction: column;
}
.rightInnerDisplayContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.rightDegreeContainer{
    display: flex;
    align-items:flex-start;
    font-size: 20px;
}
.rightDegreeText{
    font-size: 30px;
}
.rightCityText{
    font-size: 20px;
}
.weather{
    visibility: visible;
}
.loaderContainer{
    visibility: visible;
    height: 100vh;
    position: absolute;
    z-index: 13;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center ;
}
.loader {
    border: 16px solid #fbd607; /* Light grey */
    border-top: 16px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 900px) {

    .weatherDetailsContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .weather{
       visibility: visible;
    }
    
    .appContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .rightContainer{
        width: 100%;
        margin: 0px;
        padding: 0;
        background-color: rgb(0, 0, 0, 0.5);
        height: auto;
        flex-grow: 0.5;
        align-self: center;
    }
    .leftContainer{
        display: none;

    }

    .detailsContainer{
        height: inherit;
        padding: 20px;
    }

}

