body{
    font-family: 'open sans';
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("./images/backgroundimage.jpeg");

    color:white;
}

::-webkit-scrollbar-track{
   background-color: red;
}
.rightContainerHeader{
    font-weight: bold;
    font-family: 'open sans';
}
.weatherDetailsContainer{
    display: flex;
    flex-direction: column;
}

.s_location_time:hover{
    cursor: pointer;
    color: rgb(255, 255, 255, 0.5);
}
.timeStamp{
    font-size: 12px;
}
.appContainer{
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: auto;
}
h1{
    font-size: 20px;
    padding:40px;
    font-weight: light;
}
.leftContainer{
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;

}
.weatherImageContainer{
display: flex;
flex-direction: column;
margin-bottom: 22px;
    
}
.weatherDescription{
text-align: center;
margin-top: -20px;
}
.weatherDisplayContainer{
    display: flex;
    padding: 40px;
    align-items: center;
}
.innerDisplayContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-check{
    margin: 20px;
}
.degreeContainer{
    display: flex;
    align-items:flex-start;
    font-size: 20px;

}
.rightInnerDisplayContent{
    display: flex;
    flex-direction: column;
}
.weatherTextBottomContainer{
    display: flex;
    align-items: center;
}
.weatherTextBottom{
    display: flex;
    
}
.degreeText{
    font-size: 80px;
}
.cityText{
    font-weight: lighter;
    font-size: 40px;
}
.rightContainer{
    margin: 0px;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.5);
    flex-grow: 0.5;
    align-self: flex-end;
    height: auto;
}
.rightContent{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.searchContainer{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;

}
.weatherTextBottomContainer{
    display: flex;
}

.saveBtn{
    margin: 20px;
}
.savedItem{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.savedItem p {
    margin: 0px;
}
.savedContainer
{
    height: inherit;
    padding: 20px;
}
.savedItemsContainer{
    height: 200px;
    overflow:scroll;
    overflow-x: hidden;


}
.savedItemsContainer p {

}
.detailsContainer{
    margin: 0px;
    padding: 20px;
}
.weatherItem{
    display: flex;
    justify-content: space-between;
}

.w-item{
    display: flex;

}
#symbol{
    align-self: flex-start;
    font-size: 10px;
}

.rightWeatherDisplayContainer{
    display: flex;
    padding: 40px;
    align-items: center;
    flex-direction: column;
}
.rightInnerDisplayContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.rightDegreeContainer{
    display: flex;
    align-items:flex-start;
    font-size: 20px;
}
.rightDegreeText{
    font-size: 30px;
}
.rightCityText{
    font-size: 20px;
}
.weather{
    visibility: hidden;
}
.loaderContainer{
    z-index: 5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;

}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(255, 187, 0);
    border-bottom: 16px solid rgb(255, 187, 0);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media screen and (max-width: 900px) {

    .weatherDetailsContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .weather{
       visibility: visible;
    }
    
    .appContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .rightContainer{
        width: 100%;
        margin: 0px;
        padding: 0;
        background-color: rgb(0, 0, 0, 0.5);
        height: auto;
        flex-grow: 0.5;
        align-self: center;
    }
    .leftContainer{
        display: none;

    }

    .detailsContainer{
        height: inherit;
        padding: 20px;
    }

}

